scripts
native/build
plugins
node_modules
package-lock.json
build
bin/win32-x64-54/Commander.node
processes/dotnet/
processes/commander/bin
processes/commander/obj
processes/bin
/Commander/bin/Debug
/Commander/obj/Debug
/packages/System.ValueTuple.4.3.1
Commander/obj/fsac.cache
/.vs/Commander/v15/ipch
/.vs/Commander/v15/Browse.VC.opendb
/.vs/Commander/v15/Browse.VC.db
/Hook/x64/Debug
/.vs/Commander/v15/
Tools/bin/Debug
Tools/obj/Debug

/Tools/bin/Debug/Tools.dll
/Tools/bin/Debug/Tools.dll
