:root {
    --background-color: white;
    --color: black;
    
    --selected-bg-color: blue;
    --selected-bg-hover-color: #0063ff;
    --selected-color: white;
    
    --separator-color: lightgray;
    
    --menu-background-color: rgb(238, 236, 236);
    --menu-hover-color: rgba(0, 0, 255, 0.2);
    --menu-selected-background-color: blue;
    --menu-selected-color: white;
}