
#viewer {
    position: absolute;
    height: calc(50% - 3px);
    width: 100%;
    top: calc(50% + 3px);
    bottom: 0px;
}

#viewerImg {
    display: flex;
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
}

#viewerVideo {
    display: flex;
    max-width: 100%;
    max-height: 100%;
    height: 100vh;
    margin: 0 auto;
}

#viewerFrame {
    display: flex;
    width: 100%;
    height: 100%;    
    margin: 0 auto;
}



#templates {
    display: none;
}








