
#viewer {
    position: absolute;
    height: calc(50% - 3px);
    width: 100%;
    top: calc(50% + 3px);
    bottom: 0px;
}

#viewerImg {
    display: flex;
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
}

#viewerVideo {
    display: flex;
    max-width: 100%;
    max-height: 100%;
    height: 100vh;
    margin: 0 auto;
}

#viewerFrame {
    display: flex;
    width: 100%;
    height: 100%;    
    margin: 0 auto;
}



#templates {
    display: none;
}






.selected.itemColorBlue{
    color: #fffbce;
    background-color: cornflowerblue;
}

.commanderTable tr.selected {
    color: white;
    background-color: rgb(0, 122, 204);
}

tr.selected:focus {
    outline-color: red;
    outline-width: 1px;
    outline-style: solid;
    outline-offset: -1px;
}



