body {
    font-family: sans-serif;
    font-size: 75%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

#scroller {
    height: 100vh;
    overflow-y: auto;
}

.hidden {
    display: none;
}

#commanderView {
    width: 100%;
}

.commanderView {
    table-layout: fixed;
    border-spacing: 0px;    
}

.commanderView thead th {
    padding-left: 5px;
    text-align: left;
    font-weight: normal;
    color: white;
    background-color: blue;
    border-left-color: white;
    border-left-style: solid;
    border-left-width: 1px;
    transition: background-color 0.3s;
}

.commanderView th:hover {
    background-color: #0063ff;
}

.commanderView td
{
    overflow: hidden;
    height: 16px;
    text-overflow: ellipsis;
}

.commanderView th:first-child {
    border-left-style: none;
}

.commanderView tr {
    transition: background-color 0.3s, color 0.3s;
}


.commanderView tr:hover {
    background-color: #fffbdf;
}

.commanderView tr:focus {
    outline-color: red;
    outline-width: 1px;
    outline-style: solid;
    outline-offset: -1px;
}
