body {
    font-family: sans-serif;
    font-size: 75%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

#scroller {
    height: 100vh;
    overflow-y: auto;
}

.hidden {
    display: none;
}

#table {
    width: 100%;
    table-layout: fixed;
    border-spacing: 0px;    
}

#table thead th {
    padding-left: 5px;
    text-align: left;
    font-weight: normal;
    color: white;
    background-color: blue;
    border-left-color: white;
    border-left-style: solid;
    border-left-width: 1px;
    transition: background-color 0.3s;
}